.Container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.anuncio {
  background-color: #de7e47;
  display: flex;
  justify-content: center;
}
.titulo {
  font-size: 50px;
  color: #f8ca85;
  background-color: #de7e47;
  display: flex;
  justify-content: center;
}
.info {
  font-size: 40px;
  color: #f8ca85;
  background-color: #de7e47;
  display: flex;
  justify-content: center;
}
