futter {
  background-color: yellow;
  margin: 0px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: orange;
  height: 20px;
  width: 50px;
  text-align: center;
}
.pesquisar {
  text-align: center;
}

.map {
  display: flex;
  text-align: center;
  list-style-type: none;
  background-color: tomato;
}

.map li {
  padding: 10px;
}
