header {
  background-color: #a3582f;
  margin: 0px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logotipo {
  margin-top: 10px;
  text-align: center;
}
.pesquisar {
  text-align: center;
}

.pesquisar {
  margin-top: 20px;
}
.mapa {
  display: flex;
  text-align: center;
  list-style-type: none;
}

.mapa li {
  padding: 10px;
}
.Car {
  list-style-type: none;
}

button {
  margin-top: 20px;
  background-color: rgb(241, 95, 95);
}
button:hover {
  background-color: red;
}
